@use "variables" as *;

.container {
	width: min($container-max, calc(100% - (#{$container-gutter} * 2)));
	margin-inline: auto;
}

.site-shell {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.site-main {
	flex: 1;
	margin: 0 24px;
}

@media (max-width: $breakpoint-mobile) {
	.container {
		width: min($container-max, calc(100% - 30px));
	}
}

@media (max-width: $breakpoint-small) {
	.container {
		width: calc(100% - 28px);
	}
}